html, body {
	font-family: "Verlag A", "Verlag B", Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif !important;
    font-weight: 300;
	letter-spacing: 0.3px !important;
	overflow-x: hidden;
	font-size: 16px;
}

header {
	background-color: rgb(67,73,121);
    background-image: url(https://royalalbertamuseum.ca/themes/RAM/images/background-blue-red.svg);
    -webkit-touch-callout: none;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    top: 0;
	color: #fff;
	margin: 0 !important;
    background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: contain;
	background-color: rgb(23,169,120);
	z-index: 50 !important;
}
@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
#breadcrumb {
	display: none !important;
}
#too-small {
	display: none;
	text-align: center;
	font-size: 15vw;
}
#too-small img {
	width: 90%;
}
.uppercase, .card-body {
	text-transform: uppercase;
}
.btn {
	border-radius: 0.1875em;
	border: 0;
	font-weight: bold;
	text-transform: uppercase
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn-primary {
	background-color: rgb(67,73,121) !important;
	color: #fff !important;
	letter-spacing: 1.3px;
	height: 42px;
	padding-top: 8px;
}
.content-container .btn-primary {
	margin-right: 5px;
}
.fineprint small {
	font-size: 13px;
}
main .btn-primary {
	margin-top: 10px;
}
.table-no-top-border tr:first-of-type td {
	border-top: 0 !important;
}
.table-no-top-border {
	margin-bottom: 30px;
}
.btn-primary:hover {
	background-color: #000 !important;
}
.fas {
	color: #fff;
	font-size: 30px;
	margin: 3px 0 8px 0;
	cursor: pointer;
}
.fa-search {
	display: none !important;
	font-size: 26px;
	font-weight: 600;
}
.nav-and-search a:hover {
	text-decoration: none;
}
@media screen and (max-width: 319px) {
	header, main, footer {
		display: none !important;
	}
	#too-small {
		display: block;
	}
}
h3 {
	font-size: 16px;
	font-weight: 600;
	margin-top: 32px;
}
iframe {
	margin-bottom: 14px;
	border: 0;
}
header {
	height: 11em;
	min-height: 54px;
	display: block;
}
header a:hover {
	text-decoration: none;
}
#phat {
	display: block;
}
#thin {
	display: none;
}
#RAM-logo {
	height: 7.6em;
	margin: 1.5em 0;
}
#RAM-text, #RAM-acronym {
	text-transform: uppercase;
	color: #fff;
	font-size: 1.8em;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 40px;
}
#RAM-acronym {
	display: none;
}
button#plan-your-visit {
	width: 13.2em;
	padding: 0.5625em 1em;
}
button#plan-your-visit:hover {
	background-color: #000 !important;
}
#phat .fas {
	display: block;
}
#phat .nav-and-search {
	margin-top: 1.1em;
}
.nav-and-search {
	padding-right: 14px;
}
#thin .fas {
	margin: 5px 0 0 6px !important;
}
#plan-and-hours {
	/* display: none at bottom of file for COVID19 */
	width: 21em;
	height: 10.3em;
	margin: 1.7em 0 0 0;
	font-size: 0.875em;
	padding: 0 !important;
	font-weight: 400;
}
#hours {
	width: 15em;
	padding: 1.2em 0 0 0;
}
#hours .row:first-child div:first-child {
	padding-bottom: 0.4em;
}
#hours .row {
	padding-left: 0;
}
@media screen and (max-width: 991px) {
	header {
		background-size: 100% auto;
		height: 15vw;
	}
	#RAM-logo {
		height: 10vw;
		margin: 2.5vw 0;
	}
	#plan-and-hours {
		display: none;
	}
	#phat .nav-and-search {
		display: block;
		margin: 2.5vw 0 !important;
	}
}
@media screen and (max-width: 660px) {
	#phat .nav-and-search .fas {
		display: inline !important;
	}
	#phat .nav-and-search .fa-bars {
		margin-right: 6px;
	}
}
@media screen and (max-width: 767px) {
	main .container:not('.countdown-clock-container') h1 {
		font-size: 6vw !important;
	}
	header #thin {
		height: 115px !important;
	}
}
@media screen and (max-width: 575px) {
	#RAM-acronym, #RAM-logo, #RAM-text {
		margin-left: 5vw !important;
	}
	main > .container {
		margin-left: 5vw !important;
		margin-right: 5vw !important;
		width: auto;
	}
	.nav-and-search {
		padding-right: 7vw !important;
	}
}
.col-lg-4 {
	margin-top: 30px;
}
.col-lg-4 .card-body {
	height: 140px !important;
}
footer {
	background-image: url(../images/background-grey.svg);
	background-color: #fff;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	font-size: 0.9375em;
	margin-top: 4em;
	padding-bottom: 2.5em;
	position: relative;
}
footer a {
	color: #796d6d;
	text-decoration: none;
}
footer a:hover {
	color: #000;
	text-decoration: none;
}
#address {
	margin-top: 2.25em;
	line-height: 1.7em;
	font-weight: normal !important;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer ul {
	margin-top: 2.25em;
}
footer ul li {
	margin-bottom: 0.125em;
	padding: 0;
}
#ram-goa-horizontal {
	display: none;
}
#social-media {
	width: 14.8em;
	margin: auto;
	padding: 0 !important;
}
#social-media, #logo-lockup {
	margin-top: 4.5em;
}
#logo-lockup {
	text-align: right;
}
button#stay-connected {
	width: 13.2em;
	padding: 0.5625em 1em;
}
button#stay-connected:hover {
	background-color: #000 !important;
}
#social-media div img {
	margin: 1.75em 0.35em 0 0.35em;
	width: 2.1875em;
}
#social-media #ram-goa-horizontal img {
	margin: 2.125em 0 0 0;
	width: 13.125em;
}
#sm-facebook {
	margin-left: 0 !important;
}
#ram-goa {
	text-align: right;
	padding: 0;
	margin: 0;
}
p.terms-conditions {
	font-weight: normal;
	font-size: 13px;
	margin-top: 6px;
}
#nav-overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	overflow: hidden;
	transition: 0.5s;
	-webkit-touch-callout: none;
	-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.overlay {
	background-color: rgb(67,73,121);
	color: #fff;
}
.overlay-content {
	width: 90%;
	height: 90%;
	margin: 20vh 10vw;
	position: relative;
}
.overlay-content a {
	padding-right: 3vw;
	font-size: 8vh;
	text-decoration: none;
	color: white;
	white-space: nowrap;
	font-weight: 300;
	transition-duration: 0.2s;
}
.overlay-content a:hover {
	transition-duration: 0.2s;
	color: black !important;
}
#overlay-close-button {
	position: absolute;
	top: 5vh;
	right: 5vh;
	font-size: 6vw;
	color: #fff;
	cursor: pointer;
}
#overlay-close-button:hover {
	text-decoration: none;
}
@media screen and (max-width: 992px) {
	.overlay-content a {
		font-size: 9vw;
	}
}
main {
	margin-top: 11em;
}

.btn-primary {
	background-color: rgb(232,38,47) !important;
	color: #fff !important;
}

.overlay {
	background-color: rgb(232,38,47);
	color: #fff;
}

.overlay-content a:hover {
	color: black !important;
}

#plan-and-hours {
	padding-left: 22px !important;
}

#LeftSide h1 {
	margin: 14px 0 0!important;
}

#Cart,#Filters,#TicketsContainer,.EventInfo,.EventListing,.Message,.OtherOptionBox,.Tool {
	border: 1px solid #ddd !important;
	border-radius: 3px !important;
}

div.ItemDetails.Truncate p span {
	font-size: 15px!important;
}

#ctl00_ctl00_MainContentPlaceHolder_MainContentPlaceHolder_SignInView_ReturningLabel,.OtherOptionBox h2 {
	background-color: #8f91af!important
}

#Account a,.TicketsContainer .Right .Section h3,div.TicketsContainer h2,li.Odd.C0 a,li.Odd.C1 a,li.Odd.C2 a,li.Odd.C3 a {
	background-color: #d0d1de!important;
	color: #44477a!important
}
#BreadCrumbs ol {
	padding-left: 0 !important;
}

#login-register {
	text-align: left!important;
	height: 31px!important;
	line-height: 18px!important;
	border: 0!important;
	font-size: 14px!important;
	border-radius: 3px !important;
}

#login-register * {
	margin-left: 10px!important
}

.filter a {
	color: #8f91af!important;
	font-weight: 700;
	font-size: 12px!important;
	margin-bottom: 0!important;
	line-height: 20px!important
}

.filter .selected a,.filter a:hover {
	background-color: #8f91af!important;
	color: #fff!important
}
.filter a {
	font-weight: normal !important;
}

#Cart h2 {
	background-color: #d0d1de !important;
	font-size: 15px !important;
}

#DateSelect input {
	background-color: #ddd!important
}

#Cart h2 {
	padding-left: 15px!important;
	color: #44477a!important
}

#Cart p.Amount {
	font-size: 20px !important;
	font-weight: 700!important;
	color: #44477a!important
}

h1 {
	text-transform: uppercase!important
}

.EventInfo,.EventListing {
	padding: 14px!important;
	color: #000!important;
	background-color: #fff!important
}

.EventListing {
	padding-top: 30px;
	/*height: 120px;*/
}

.EventInfo .Image,.EventListing .Image {
	margin-right: 14px!important
}

.EventListing h2 {
	font-size: 18px!important
}

#Cart h2,.ItemDetails {
	font-size: 14px!important;
	line-height: 20px;
}

.ButtonArea a.PrimaryAction {
	background-color: rgb(232,38,47) !important;
	color: #fff !important;
	text-transform: uppercase!important;
	margin: 0 8px 14px 14px!important;
	height: 26px!important;
	line-height: 12px!important;
	font-size: 12px!important;
	padding-left: 24px;
	padding-right: 24px;
	letter-spacing: 1.3px;
	height: 42px;
	padding-top: 10px;
}

#login-register img,#vantixFooter {
	display: none!important
}

div.filter h3 {
	border-style: none!important
}

#Filters h3 {
	margin-left: 4px!important
}

#BreadCrumbs {
	padding: 0px !important;
	border-color: #ddd!important;
	color: #44477a!important;
	font-size: 14px;
}

#AccountMenu div,#AddressCity,#AddressCountry,#AddressLine1,#AddressLine2,#AddressPostalCode,#AddressProvinceSelect,#CardExpiryMonth,#CardExpiryYear,#CardHolder,#CardSecurityCode,#CardType,#ConfirmEmailAddress,#ConfirmPassword,#EmailAddress,#FirstName,#LastName,#OldPassword,#Password,#PhoneNumberExt,#Username,.ErrorInput,.FillerValue,select.navigation-dropdown {
	border-color: #ddd !important
}

#AccountMenu div a {
	color: #44477a
}

#RightSearchBar {
	border: 1px solid #ddd !important;
	border-radius: 3px !important;
	background-color: #ddd!important
}


.hasDatepicker {
	border: 0px !important;
}

#Go {
	color: #44477a!important;
	text-transform: uppercase!important;
	background-color: transparent!important;
	font-weight: 800 !important;
}

div.filter {
	border-color: #ddd!important
}
div.filter a {
	font-size: 13px !important;
}

#q {
	background-color: #ddd!important;
	height: 31px!important;
	font-size: 15px!important;
	line-height: 18px!important;
}

#CalendarContainer .EventListing .PrimaryAction {
	margin-bottom: 5px!important
}

.Tool h3,.input-large,a.js-select-date {
	background-color: #d0d1de!important
}

h2.beanstream {
	margin: 40px 0 0 0;
	font-weight: bold;
}
#frmPayment {
	margin-top: -10px;
	letter-spacing: 0px;
	font-size: 15px;
}
#frmPayment tr {
	vertical-align: top;
}
#frmPayment tr td:first {
	white-space: nowrap;
}
#frmPayment tr td input {
	width: 100%;
}
select {
	height: 27px;
}
select[name="trnExpMonth"], select[name="trnExpYear"] {
	width: 48%
}
select[name="trnExpMonth"] {
	margin-right: 1px;
}
select[name="trnExpYear"] {
	float: right;
}
.btn-secondary {
	padding-left: 24px;
	padding-right: 24px;
	background-color: rgb(255,0,0);
	letter-spacing: 1.3px;
	height: 42px;
	padding-top: 10px;
}
.btn-secondary:hover {
	background-color: #000;
}
b {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
}
input[name="ordEmailAddress"] {
	margin-bottom: 12px;
}
p.terms-conditions {
	margin-top: 10px;
}

/* Thanks, COVID */
#plan-and-hours {
	display: none !important;
}